.trash-ico {
  font-size: 1rem;
}

.home-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.done {
  text-decoration: line-through;
}

.list-box {
  display: flex;
  flex-direction: column;
}

.list-li {
  display: flex;
  width: 100%;
}

.list-text {
  flex-grow: 11;
  word-break: break-word;
}
